<div id="<%= dom_id register %>">
  <p>
    <strong>Id user:</strong>
    <%= register.id_user %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= register.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= register.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= register.senha %>
  </p>

</div>
