<p style="color: green"><%= notice %></p>

<%= render @register %>

<div>
  <%= link_to "Edit this register", edit_register_path(@register) %> |
  <%= link_to "Back to registers", registers_path %>

  <%= button_to "Destroy this register", @register, method: :delete %>
</div>
