<div id="<%= dom_id user %>">
  <p>
    <strong>Id user:</strong>
    <%= user.id_user %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= user.integer %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>String:</strong>
    <%= user.string %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= user.senha %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
